{
  "presets": [["@babel/preset-env", {
    "targets": {
      "node": 20
    }
  }], "@babel/preset-typescript"],
  "plugins": ["@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }]
    ]
}